<!DOCTYPE html>
<html>

<head>
  <title>数字华容道</title>
  <meta http-equiv="Content-Type" content="IE=Edge, chrome=1; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/puzzle.css">
</head>

<body>
  <div id="app" class="container" v-cloak>
    <div class="header">
      <div class="left">
        <p>模式</p>
        <div class="mode">4 × 4</div>
      </div>
      <div class="right">
        <div class="time-wrap">
          <span class="info info-p">计时<span class="colon">:</span></span>
          <div class="timer">
            <div class="count">{{min}}</div><span class="colon">:</span>
            <div class="count">{{s}}</div><span class="colon">:</span>
            <div class="count">{{ms}}</div>
          </div>
        </div>
        <div class="count-wrap">
          <span class="info">步数<span class="colon">:</span></span>
          <div class="count">{{count}}</div>
          <button class="score-btn" @click="toast">查看记录</button>
        </div>
        <div class="star-wrap">
          <span class="info info-p">复杂度<span class="colon">:</span></span>
          <span v-for="(item,index) of star" :key="index" v-html="item">{{item}}</span>
        </div>
      </div>
      <div class="rank-wrap">
        <p class="rank">最高记录</p>
        <ul class="rank-ul">
          <li class="rank-li" v-for="n of 3">
            <img :src="'img/no'+n+'.png'" width="20" height="20" />
            <span class="score">
              <span>{{score[n - 1] || "未记录"}}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-wrap">
      <ul class="list-ul">
        <li class="list-li" :class="item?'full':'empty'" v-for="(item,index) in list" :key="index" @click="move(index)">
          <span class="num">{{item}}</span>
        </li>
      </ul>
      <div class="succ" v-show="!start && !succ">
        <p>目标</p>
        <p>图形</p>
      </div>
      <div class="succ" v-show="succ">
        <p>挑战</p>
        <p>成功</p>
      </div>
    </div>
    <div class="btn-wrap">
      <button class="btn" @click="sort">开始新游戏</button>
      <button class="btn" :class="{'grey': count === 0 || succ}" @click="replay">重玩本局</button>
    </div>
    <audio src="audio/sound.wav" id="audio"></audio>
  </div>
</body>

<script src="js/vue.min.js"></script>
<script src="js/puzzle.js"></script>

</html>